@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.button {
    background-color: #000;
    border: 2px solid #fff;
    padding: 15px;
    transition: .5s;
}

.button:hover {
    background-color: rgb(158, 11, 109);
    border-color: #000;
    color: #000;
}

#main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.split {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.split.left {
    background: url('/img/art-backlit-dark-556669.jpg') no-repeat center/cover;
}

.split.right {
    background: url('/img/apple-browser-creative-3080.jpg') no-repeat center/cover;
}
